<h1>Config Entries</h1>

<h3>Current Values</h3>
<% @propArray.each do |p| %>
	<div>
		[<%= p[:category] %>] <%= p[:name] %>: <%= p[:value] %>
	</div>
<% end %>

<%= link_to "Edit Values", new_ConfigEntry_path %>